.seating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  font-weight: 500;
  font-size: 18px;
}

.seat-btn {
  height: 30px;
  width: 40px;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: rgb(33, 0, 180);;
  background-color: #ffffff;
  border: 2px solid rgb(231, 239, 255);
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.seat-btn:hover {
  background-color: rgb(48, 120, 255);
  background-image: url("../../assets/");
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.seat-btn.booked {
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  background: rgb(48, 120, 255, 0.1);
  cursor: pointer;
}

.seat-btn.selected {
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: rgb(48, 120, 255);
  border: none;
}

/* 
.stripe-checkout {
  width: 100vw;
  margin: 20px;
  margin-left: 620px;
} */

/* .book-btn {
  margin: 20px;
  width: 40rem !important;
  border-radius: 50px !important;
  background: rgb(84, 155, 255) !important;
  color: white !important;
}  */

